@font-face {
    font-family: 'Metronic Pro Air Italic';
    src: url('metronicproair-italic-webfont.woff2') format('woff2'),
         url('metronicproair-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'Metronic Pro Air';
    src: url('metronicproair-webfont.woff2') format('woff2'),
         url('metronicproair-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'Metronic Pro Air Condensed Italic';
    src: url('metronicproaircondensed-italic-webfont.woff2') format('woff2'),
         url('metronicproaircondensed-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'Metronic Pro Air Condensed';
    src: url('metronicproaircondensed-webfont.woff2') format('woff2'),
         url('metronicproaircondensed-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.tg-color-blue {
    color: red !important;
}

.osh {
color: #fff;
}